.form {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 16px;
    border: 1px solid #fff;
    background-color: #000;
    display: flex;
    flex-direction: column;

}

.title {
    text-align: center;
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
}

.input {
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    outline: none;
    transition: border-color 0.2s ease;
    margin-top: 40px;
}

.input:focus {
    box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.6);
}

.button {
    align-self: flex-end;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
    margin-top: 40px;
}

.button:hover {
    background-color: #fff;
    color: #000;
}
